#ncstate-branding-bar-module {
    padding: 0px;
    line-height: 0px;
    margin: 0px;
    display: none;
}
#ncstate-branding-bar-module h2 {
    position: absolute;
    left: -10000px;
}

/*
 * following two lines only included for Drupal 6, which does not support external stylesheets as part of drupal_add_css
 * this is due to the drupal_add_css section of the .module file
 * 
*/

body {
    margin: 0;
    padding: 0;
    width: 100%;    
}

#ncsu_branding_bar {
    margin: 0;
    width: 100%;
    border: 0;
    padding: 0;
    height: 31px;
}